*{
    padding: 0%;
    margin: 0%;

}
body{
    background-image: url(assets/Background.jpg);
    background-repeat: repeat;
    background-size: 40vw;
    text-align: center;
    font-family: cursive;


}
.headi{
    font-size: 80px;
    font-weight: 900;
}
#counter{
    font-size: 90px;
}
.counterfn{
  
    display: grid;
    grid-template-rows:repeat(2,auto);
    grid-template-columns: repeat(3,auto);
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.bn{
    padding: 10px 30px;
    border-radius: 8px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
    cursor: pointer;
    transition: background-color ease-in 0.2s;
}
.bn:hover{
    background-color: rgb(161, 211, 255);
}